<html>

<head>
    <meta name="viewport">
    <meta http-equiv="X-UA-Compatible">
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
<link rel="stylesheet" href="./main.css">
<div id="wrapper">
    <div id="addContact">
        <!-- <template id="add-contact"> -->
        <div class="form">
            <h2>Adicionar contato</h2>
            <form v-on:submit="createContact">
                <div class="form-group">
                    <label for="add-name">Matricula</label>
                    <input class="form-control" id="add-id" v-model="contact.id" required/>
                </div>
                <div class="form-group">
                    <label for="add-description">Nome</label>
                    <input class="form-control" id="add-name" v-model="contact.name" required/>
                </div>
                <div class="form-group">
                    <label for="add-price">Telefone</label>
                    <input class="form-control" id="add-number" v-model="contact.number" required/>

                </div>
                <button v-on:click="createContact" class="btn btn-primary"> Adicionar</button>
                <a class="btn btn-default">
                    <router-link to="/">Cancelar</router-link>
                </a>
            </form>
        </div>
    </div>

    <div class="list">
        <h3>Lista de contatos</h3>
        <div id="appContatos">
            <table class="table table-striped">
                <tr>
                    <th>Matricula</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                </tr>
                <tr v-for="contato in list">
                    <td>{{ contato.matricula }}</td>
                    <td>{{ contato.nome }}</td>
                    <td>{{ contato.telefone }}</td>
                </tr>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./app.js"></script>


</html>