body{
    background-color: rgba(230, 230, 230, 0.76);
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.header {
    padding-top: 20px;
    padding-left: 20px;
    height: 200px;
    background-image: url("/assets/img/title_bg.png");
    width: auto;   
}

.form {
    width: 500px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 31px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.list {
    padding-left: 10px;
    padding-right: 20px;
}

#wrapper {    
    position: absolute;
    top: 0px;
    left: 45%;
    margin-left: -450px;
    width: 1100px;
    min-height: 940px;    
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    overflow: auto;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #008CBA;
}

.button1 {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.tabelanomes {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 31%;

}